// Home Page Hero
.slider-height {
    min-height: 1044px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        min-height: 850px;
    }
    @media #{$md}{
        min-height:760px;
    }
    @media #{$sm}{
        min-height:800px;
    }
    @media #{$xs}{
        min-height:1000px;
    }
}

.slider-height2 {
    min-height: 588px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$md}{
        min-height: 588px;
    }
    @media #{$sm}{
        min-height: 588px;
    }
    @media #{$xs}{
        min-height: 588px;
    }
}

.slider-height3 {
    min-height: 588px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$lg}{
        min-height: 400px;
    }
    @media #{$md}{
        min-height: 500px;
    }
    @media #{$sm}{
        min-height: 308px;
    }
    @media #{$xs}{
        min-height: 308px;
    }
}

.slider-area, .slider-area2{
    background-image: url(../img/hero/h1_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    &.slider-area2{
        background-image: url(../img/hero/hero2.png);
    }
    .hero__caption{
        margin-top: -100px;
        text-align: center;
        @media #{$xs}{
            margin-top: 0px;
        }
        text-align: center;
        @media #{$sm}{
            margin-top: 0px;
        }
        @media #{$md}{
            margin-top: 0px;
        }
        span{
            color: #31ff7a;
            font-size: 60px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 30px;
            display: block;
            @media #{$xs}{
                margin-bottom: 30px;
                font-size: 56px;
            }
        }
        h1{
            font-size: 46px;
            font-weight: 600;
            color: #fff;
            line-height: 1.3;
            margin-bottom: 8px;
            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 51px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
            @media #{$xs}{
                font-size: 28px;
                line-height: 1.2;
                margin-bottom: 20px;
            }

        }
        p{
            color: #fff;
            font-size: 18px;
            margin-bottom: 49px;
            @media #{$xs}{
                font-size: 16px;
            }
        }
        &.hero__caption2{
            margin-top:0px;
            text-align:left;
            text-align: left;
            h1{
                font-size: 46px;
                margin-bottom: 0px;
                font-weight: 700;
                @media #{$sm}{
                    font-size: 34px;
                }
                @media #{$xs}{
                    font-size: 33px;
                }
            }
        }
    }
    // Form Style Slider
    form.search-box{
        border: 10px solid rgba(255,255,255,0.16);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 50px;
        @media #{$md}{
            border-radius: 0px;
        }
        @media #{$sm}{
            border: none;
        }
        @media #{$xs}{
            border: none;
        }
        .input-form{
            width: 26%;
            position: relative;

            // Border Radius
            border-top-left-radius: 50px;
            overflow: hidden;
            border-bottom-left-radius: 50px;
            @media #{$sm}{
                width: 50%;
                margin-bottom: 20px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            @media #{$md}{
                width: 50%;
                margin-bottom: 20px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            @media #{$xs}{
                width: 100%;
                margin-bottom: 20px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            input{
                height: 60px;
                width: 100%;
                color: #000;
                font-size: 18px;
                font-weight: 400;
                padding: 9px 18px 9px 48px;
                border: none;
                border-radius: 0px;
                position: relative;

                @media #{$sm}{
                    // padding: 9px 33px 9px 25px;
                }
                &::placeholder {
                    color: #1D2547;
                    font-size: 14px;
                    font-weight: 600;
                    @media #{$md}{
                        font-size: 13px;
                    }
                    @media #{$xs}{
                        font-size: 13px;
                        
                    }
                }
            }
            .icon{
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateY(-50%);
                i{
                    font-size: 16px;
                    color: #D9DEE2;
                }
            }
        }
        .input-form2{
            width: 26%;
            position: relative;
            overflow: hidden;
            @media #{$md}{
                width: 49%;
                margin-bottom: 20px;
            }
            @media #{$sm}{
                width: 49%;
                margin-bottom: 20px;
            }
            @media #{$xs}{
                width: 100%;
                margin-bottom: 20px;
            }
            input{
                height: 60px;
                width: 100%;
                color: #000;
                font-size: 18px;
                font-weight: 400;
                padding: 9px 18px 9px 48px;
                border: none;
                border-radius: 0px;
                position: relative;
                @media #{$sm}{
                    // padding: 9px 33px 9px 25px;
                }
                &::placeholder {
                    color: #1D2547;
                    font-size: 14px;
                    font-weight: 600;
                    @media #{$md}{
                        font-size: 13px;
                    }
                    @media #{$xs}{
                        font-size: 13px;
                        
                    }
                }
            }
            .icon{
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateY(-50%);
                i{
                    font-size: 16px;
                    color: #D9DEE2;
                }
            }
        }
        .input-form3{
            width: 21%;
            //position: relative;

            // Border Radius
            border-top-right-radius: 50px;
            overflow: hidden;
            border-bottom-right-radius: 50px;
            @media #{$md}{
                width: 49%;
                //margin-bottom: 20px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$sm}{
                width: 49%;
                //margin-bottom: 20px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$xs}{
                width: 100%;
                //margin-bottom: 20px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            a{
                width: 100%;
                  height: 60px;
                  background:#11E276;
                  font-size: 20px;
                  line-height: 1;
                  text-align: center;
                  color: #fff;
                  display: block;
                  padding: 16px;
                  font-weight: 700;
                  border-radius: 0px;
                  text-transform: capitalize;
                  font-family: $font_1;
                  line-height: 31px;
                  font-size: 15px;
                  i {
                      color: #fff;
                      padding-right: 10px;
                      font-size: 16px;
                      font-weight: 700;
                  }
                }
            input{
                height: 60px;
                width: 100%;
                color: #000;
                font-size: 18px;
                font-weight: 400;
                padding: 9px 18px 9px 48px;
                border: none;
                border-radius: 0px;
                position: relative;

                @media #{$sm}{
                    // padding: 9px 33px 9px 25px;
                }
                &::placeholder {
                    color: #1D2547;
                    font-size: 14px;
                    font-weight: 600;
                    @media #{$md}{
                        font-size: 13px;
                    }
                    @media #{$xs}{
                        font-size: 13px;
                    }
                }
            }
            .icon{
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateX(-50%);
                i{
                    font-size: 16px;
                    padding-right: 10px;
                    color: #D9DEE2;
                }
            }
        }
        .select-form{
            width: 26%;
            position: relative;
            @media #{$md}{
                width: 50%;
            }
            @media #{$sm}{
                width: 50%;
            }
            @media #{$xs}{
                width: 100%;
            }
            .nice-select {
                width: 100%;
                height: 60px;
                background: #fff;
                border-radius: 0px;
                padding: 11px 19px 11px 23px;
                color: #1D2547;
                font-size: 14px;
                font-weight: 600;
                 line-height: 42px;
                border: 0;
                @media #{$md}{
                    font-size: 13px;
                }
                @media #{$xs}{
                    margin-bottom: 20px;
                    padding-left: 25px;
                    font-size: 13px;
                }
                @media #{$sm}{
                    margin-bottom: 20px;
                    padding-left: 25px;
                }
               .list {
                    width: 100%;
                }
                &.open .list {
                    width: 100%;
                    border-radius: 0;
                    border: 0;
                }
                &::after {
                    border-bottom: 1px solid #a9b6cd;
                    border-right: 1px solid #a9b6cd;
                    height: 12px;
                    width: 12px;
                    margin-top: -7px;
                    right: 29px;
                }

            }
            .icon{
                position: absolute;
                left: 13px;
                top: 50%;
                transform: translateY(-50%);
                i{
                    font-size: 16px;
                    color: #D9DEE2;
                }
            }
        }
        .search-form{
            width: 21%;

            // Border Radius
            border-top-right-radius: 50px;
            overflow: hidden;
            border-bottom-right-radius: 50px;
            @media #{$md}{
                width: 49%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$sm}{
                width: 49%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$xs}{
                width: 100%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            a{
                width: 100%;
                height: 60px;
                background:#11E276;
                font-size: 20px;
                line-height: 1;
                text-align: center;
                color: #fff;
                display: block;
                padding: 16px;
                font-weight: 700;
                border-radius: 0px;
                text-transform: capitalize;
                font-family: $font_1;
                line-height: 31px;
                font-size: 15px;
                i {
                    color: #fff;
                    padding-right: 10px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
        .search-form-2{
            width: 21%;

            // Border Radius
            border-top-right-radius: 50px;
            overflow: hidden;
            border-bottom-right-radius: 50px;
            @media #{$md}{
                width: 49%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$sm}{
                width: 49%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            @media #{$xs}{
                width: 100%;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            button{
                width: 100%;
                height: 60px;
                background:#11E276;
                font-size: 20px;
                line-height: 1;
                text-align: center;
                color: #fff;
                display: block;
                padding: 16px;
                font-weight: 700;
                border-radius: 0px;
                text-transform: capitalize;
                font-family: $font_1;
                line-height: 31px;
                font-size: 15px;
            }
        }
    }
    .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
        background-color: #11E276 !important;
    }
     .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
        background-color: #11E276 !important;
    }


    // popular-search

    .popular-search{
        ul{
            li{
                display: inline-block;
                font-size: 16px;
                font-weight: 400;
                p{
                    color: #fff;
                }
                a{
                    padding: 5px 10px;
                }
            }
        }
    }
}


// Hero Overly
.hero-overly {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color: rgba(0, 1, 2,.4);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
}

.hero-overly2 {
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: "";
        background-color:rgba(0, 0, 50,.7);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        background-repeat: no-repeat;
    }
}

// Transparent Header
.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}



// Start Other Page Hero
// .hero-area2 {
//         background-image: url(../img/hero/hero2.jpg);
//         background-size: cover;
//         background-repeat: no-repeat;
//         min-height: 500px;
//         @media #{$xs}{
//             min-height: 360px;
//         }
//     .hero-cap{
//         h2{
//             color: #fff;
//             font-size: 55px;
//             font-weight: 700;
//             text-transform: capitalize;
//             padding-top: 65px;
//         }
//     }
// }



