<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .bgimg {
        background-image: url('/images/select-image6.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }
    
    .textcss {
        color: khaki;
        text-underline-position: under;
    }
</style>

<head>

</head>

<body>
    <title>select option</title>
    <div class="bgimg">
        <div class="middle textcss">
            <h1 align="center"> Select option from below </h1>
            <p>1. Click to <a th:href="@{/api/user/register}">register</a>.</p>
            <p>2. Click to <a th:href="@{/api/user/login}">login</a>.</p>
            <p>3. Click to know about the <a href="../pages/aboutapp.html">app</a>.</p>
            <p>4. Click to know about the <a href="../pages/technologies.html">technologies</a> used in.</p>
        </div>
    </div>
</body>

</html>