<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("form").submit(function(e){
            var name = $("#name_id").val();
            var email = $("#email_id").val();
            var mobile = $("#mobile_id").val();
            var password = $("#password_id").val();
            const registrationDetails = {
                "name": name,
                "email": email,
                "mobile": mobile,
                "password": password
            }
            $.ajax({
                    type: "POST",
                    url: '/api/user/register',
                    data: registrationDetails,
                    //dataType: 'json',
                    //contentType: 'application/json',
                    success: function(data) {
                        window.location.href = 'twitterapp?responsedata=' + data;    //html page name to redirect
                    },
                    failure: function(){
                        alert("Failure from POST!");
                    }
            }).fail(err => {
                console.log(err)
                alert('Invalid inputs!')
            });
            e.preventDefault();
        });
    });
</script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
	<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
	<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/assets/img/logo/loder.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start-->
<!-- Register -->

<main class="login-body" th:data-vide-bg="@{/assets/img/login-bg.mp4}">
    <!-- Login Admin -->
    <form class="form-default" action="">
        
        <div class="login-form">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="index.html"><img th:ref="@{/assets/img/logo/loder.png}" alt=""></a>
            </div>
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="name">Full name</label>
                <input  type="text" id="name_id" placeholder="Full name">
            </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                <input type="email" id="email_id" placeholder="Email Address">
            </div>
            <div class="form-input">
                <label for="name">Mobile</label>
                <input type="text" id="mobile_id" placeholder="Mobile">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" id="password_id" placeholder="Password">
            </div>
            <div class="form-input">
                <label for="name">Confirm Password</label>
                <input type="password" id="password_confirm_id" placeholder="Confirm Password">
            </div>
            <div class="form-input pt-30">
                <input type="submit" >
            </div>
            <!-- Forget Password -->
            <a th:href="@{/api/user/login}" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>
    <script th:ref="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:ref="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:ref="@{/assets/js/popper.min.js}"></script>
    <script th:ref="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:ref="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Video bg -->
    <script th:src="@{/assets/js/jquery.vide.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:ref="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:ref="@{/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:ref="@{/assets/js/wow.min.js}"></script>
    <script th:ref="@{/assets/js/animated.headline.js}"></script>
    <script th:ref="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:ref="@{/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:ref="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:ref="@{/assets/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:ref="@{/assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:ref="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:ref="@{/assets/js/waypoints.min.js}"></script>
    <script th:ref="@{/assets/js/jquery.countdown.min.js}"></script>
    <script th:ref="@{/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:ref="@{/assets/js/contact.js}"></script>
    <script th:ref="@{/assets/js/jquery.form.js}"></script>
    <script th:ref="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:ref="@{/assets/js/mail-script.js}"></script>
    <script th:ref="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    
    </body>
</html>