<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link th:href="@{/css/welcome-background.css}" rel="stylesheet" />
</head>
<body>
    <div class="bgimg">
        <div class="topleft">
             <p>Logo from template</p>
        </div>
        <div class="middle">
            <h1>Welcome to Twitter fun app by Uday</h1>
            <a th:href="@{/start}">Click here to start</a>
        </div>
        <div class="bottomleft">
            <p><sub align="center">you can clone this app from <a href="https://bitbucket.org/patiludayk/notification-service/src/dev/" target="_blank">here</a></sub></p>
        </div>
    </div>
</body>
</html>